<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nightnightcore Automaton</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-2 mb-5">
	<div class="row g-2 mb-2">
		<div class="col-12">
			<div class="card text-bg-light">
				<div class="card-header">Total</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["total"] }}</p>
					<a href="{{ url_for("list_jobs") }}" class="btn btn-outline-dark stretched-link">See all</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row g-2">
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-secondary">
				<div class="card-header"><i class="bi bi-info-circle"></i> Waiting</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["waiting"] }}</p>
					<a href="{{ url_for("list_jobs", types = "waiting") }}"
					   class="btn btn-outline-light stretched-link">See all</a>
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-primary">
				<div class="card-header"><i class="bi bi-hourglass"></i> Queued</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["queued"] }}</p>
					<a href="{{ url_for("list_jobs", types = "queued") }}"
					   class="btn btn-outline-light stretched-link">See all</a>
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-warning">
				<div class="card-header"><i class="bi bi-hourglass-split"></i> Processing</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["processing"] }}</p>
					<a href="{{ url_for("list_jobs", types = "processing") }}"
					   class="btn btn-outline-dark stretched-link">See all</a>
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-success bg-opacity-75">
				<div class="card-header"><i class="bi bi-check-circle"></i> Done</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["done"] }}</p>
					<a href="{{ url_for("list_jobs", types = "done") }}"
					   class="btn btn-outline-light stretched-link">See all</a>
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-success">
				<div class="card-header"><i class="bi bi-upload"></i> Uploaded</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["uploaded"] }}</p>
					<a href="{{ url_for("list_jobs", types = "uploaded") }}"
					   class="btn btn-outline-light stretched-link">See all</a>
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="card text-bg-danger">
				<div class="card-header"><i class="bi bi-exclamation-triangle"></i> Failed</div>
				<div class="card-body text-end pt-0">
					<p class="card-text fs-1 mb-1">{{ job_counts["failed"] }}</p>
					<a href="{{ url_for("list_jobs", types = "failed") }}"
					   class="btn btn-outline-light stretched-link">See all</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>