<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jobs | Nightnightcore Automaton</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-2 mb-5">
	<div class="row g-3">
		<div class="col-12 col-lg-3 order-lg-last">
			<div class="d-flex flex-row flex-wrap gap-2 mb-3">
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['waiting'])) }}"
					 class="btn btn-secondary flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'waiting' in filter_button_types['waiting'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-info-circle"></i> Waiting
				</a>
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['queued'])) }}"
					 class="btn btn-primary flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'queued' in filter_button_types['queued'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-hourglass"></i> Queued
				</a>
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['processing'])) }}"
					 class="btn btn-warning flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'processing' in filter_button_types['processing'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-hourglass-split"></i> Processing
				</a>
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['done'])) }}"
					 class="btn btn-success opacity-75 flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'done' in filter_button_types['done'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-check-circle"></i> Done
				</a>
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['uploaded'])) }}"
					 class="btn btn-success flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'uploaded' in filter_button_types['uploaded'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-upload"></i> Uploaded
				</a>
				<a href="{{ url_for(request.endpoint, types = ','.join(filter_button_types['failed'])) }}"
					 class="btn btn-danger flex-grow-1 text-start">
					<i class="bi {{ 'bi-square' if 'failed' in filter_button_types['failed'] else 'bi-check-square' }} me-1"></i>
					<i class="bi bi-exclamation-triangle"></i> Failed
				</a>
			</div>
			<div class="d-flex flex-row flex-wrap gap-2">
				<button onclick="job_queue_all(this)" class="btn btn-primary flex-grow-1 text-start">
					<i class="bi bi-box-arrow-in-right"></i> Queue All Ready
				</button>
				<button onclick="job_set_youtube_info_all(this)" class="btn btn-primary flex-grow-1 text-start">
					<i class="bi bi-youtube"></i> Set YT Data All
				</button>
			</div>
		</div>
		<div class="col-12 col-lg-9 order-lg-first">
			{% for job in jobs.values() %}
				{% include "job_card.html" %}
			{% endfor %}
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>