<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jobs | Nightnightcore Automaton</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-2 mb-5">
	<div class="row g-3">
		<div class="col-12 col-lg-3 order-lg-last">
			Filter buttons
		</div>
		<div class="col-12 col-lg-9 order-lg-first">
			{% for job in jobs.values() %}
				{% include "job_card.html" %}
			{% endfor %}
			</div>
	</div>
</div>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('jobs_js') }}"></script>
</body>
</html>